body{
    background-color: #d8c6b0;
}
h1{
    text-align:center;
}
h3{
    text-align:center;
}
P{
    text-align:center;
}

.meio img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
}

.meio{
    border-radius:2%;
}

img#gui{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

figcaption{
    text-align:center
}
div.fotoLegenda{
    background-color: #caa270;
    border-radius:2%;
    
}
div.meio{
    background-color: #b88646;
}
footer{
    background-color: #67400f;
    text-align: center;
    padding: 50px;
    border-radius:2%;
}
.veludo table{
    background-color: #d8c6b0;
    border-radius: 2%;
    margin:auto;
}

.veludo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
}
table, th, td {
    border: 5px solid rgb(5, 82, 34);
  }
  